<app-main-header></app-main-header>

<div class="container-fluid mt-4">
  <p-toast></p-toast>
  
  <div class="row">
    <div class="col-12">
      <h2 class="page-title text-white">{{ 'ranking.title' | translate }}</h2>
      
      <p-tabView>
        <p-tabPanel [header]="'ranking.levelRankingTab' | translate">
          <p-card styleClass="ranking-card">
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="me-1 p-inputgroup-addon">
                  <i class="pi pi-search"></i>
                </span>
                <input 
                  type="text" 
                  pInputText 
                  [placeholder]="'ranking.searchUser' | translate" 
                  [(ngModel)]="levelSearchQuery"
                  (input)="filterLevelRatings()"
                />
                <button 
                  type="button" 
                  pButton 
                  icon="pi pi-times" 
                  (click)="levelSearchQuery = ''; filterLevelRatings()" 
                  *ngIf="levelSearchQuery"
                ></button>
              </div>
            </div>
            
            <div *ngIf="loading.level" class="loading-container">
              <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'width': '50%'}"></p-progressBar>
              <p class="text-center mt-2">{{ 'ranking.loading' | translate }}</p>
            </div>
            
            <p-table 
              [value]="filteredLevelRatings" 
              [tableStyle]="{'min-width': '50rem'}"
              styleClass="p-datatable-sm p-datatable-striped"
              [paginator]="filteredLevelRatings.length > 10" 
              [rows]="10" 
              [showCurrentPageReport]="true"
              [currentPageReportTemplate]="'ranking.pageReport' | translate"
              *ngIf="!loading.level"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 5rem" class="text-center">{{ 'ranking.rank' | translate }}</th>
                  <th>{{ 'ranking.user' | translate }}</th>
                  <th style="width: 12rem">{{ 'ranking.level' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rating let-i="rowIndex">
                <tr [ngClass]="{'current-user': isCurrentUser(rating.userId)}">
                  <td class="text-center">
                    <span class="rank-badge" [ngClass]="getRankClass(rating.rank)">{{ rating.rank }}</span>
                  </td>
                  <td>
                    <div class="user-info">
                      <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color': isCurrentUser(rating.userId) ? 'var(--primary-color)' : '#ccc'}" 
                        shape="circle"
                      ></p-avatar>
                      <span class="ms-2">{{ rating.username }}</span>
                    </div>
                  </td>
                  <td>
                    <span class="value-badge level-badge">{{ rating.value }}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center p-4">
                    <div class="empty-message">
                      <p>{{ 'ranking.noData' | translate }}</p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </p-tabPanel>
        
        <p-tabPanel [header]="'ranking.tasksRankingTab' | translate">
          <p-card styleClass="ranking-card">
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="me-1 p-inputgroup-addon">
                  <i class="pi pi-search"></i>
                </span>
                <input 
                  type="text" 
                  pInputText 
                  [placeholder]="'ranking.searchUser' | translate" 
                  [(ngModel)]="missionSearchQuery"
                  (input)="filterMissionRatings()"
                />
                <button 
                  type="button" 
                  pButton 
                  icon="pi pi-times" 
                  (click)="missionSearchQuery = ''; filterMissionRatings()" 
                  *ngIf="missionSearchQuery"
                ></button>
              </div>
            </div>
            
            <div *ngIf="loading.missions" class="loading-container">
              <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'width': '50%'}"></p-progressBar>
              <p class="text-center mt-2">{{ 'ranking.loading' | translate }}</p>
            </div>
            
            <p-table 
              [value]="filteredMissionRatings" 
              [tableStyle]="{'min-width': '50rem'}"
              styleClass="p-datatable-sm p-datatable-striped"
              [paginator]="filteredMissionRatings.length > 10" 
              [rows]="10" 
              [showCurrentPageReport]="true"
              [currentPageReportTemplate]="'ranking.pageReport' | translate"
              *ngIf="!loading.missions"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 5rem" class="text-center">{{ 'ranking.rank' | translate }}</th>
                  <th>{{ 'ranking.user' | translate }}</th>
                  <th style="width: 12rem">{{ 'ranking.completedTasks' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rating>
                <tr [ngClass]="{'current-user': isCurrentUser(rating.userId)}">
                  <td class="text-center">
                    <span class="rank-badge" [ngClass]="getRankClass(rating.rank)">{{ rating.rank }}</span>
                  </td>
                  <td>
                    <div class="user-info">
                      <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color': isCurrentUser(rating.userId) ? 'var(--primary-color)' : '#ccc'}" 
                        shape="circle"
                      ></p-avatar>
                      <span class="ms-2">{{ rating.username }}</span>
                    </div>
                  </td>
                  <td>
                    <span class="value-badge mission-badge">{{ rating.value }}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center p-4">
                    <div class="empty-message">
                      <p>{{ 'ranking.noData' | translate }}</p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </p-tabPanel>
        
        <p-tabPanel [header]="'ranking.habitStreakRankingTab' | translate">
          <p-card styleClass="ranking-card">
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="me-1 p-inputgroup-addon">
                  <i class="pi pi-search"></i>
                </span>
                <input 
                  type="text" 
                  pInputText 
                  [placeholder]="'ranking.searchUser' | translate" 
                  [(ngModel)]="habitStreakSearchQuery"
                  (input)="filterHabitStreakRatings()"
                />
                <button 
                  type="button" 
                  pButton 
                  icon="pi pi-times" 
                  (click)="habitStreakSearchQuery = ''; filterHabitStreakRatings()" 
                  *ngIf="habitStreakSearchQuery"
                ></button>
              </div>
            </div>
            
            <div *ngIf="loading.habitStreak" class="loading-container">
              <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'width': '50%'}"></p-progressBar>
              <p class="text-center mt-2">{{ 'ranking.loading' | translate }}</p>
            </div>
            
            <p-table 
              [value]="filteredHabitStreakRatings" 
              [tableStyle]="{'min-width': '50rem'}"
              styleClass="p-datatable-sm p-datatable-striped"
              [paginator]="filteredHabitStreakRatings.length > 10" 
              [rows]="10" 
              [showCurrentPageReport]="true"
              [currentPageReportTemplate]="'ranking.pageReport' | translate"
              *ngIf="!loading.habitStreak"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 5rem" class="text-center">{{ 'ranking.rank' | translate }}</th>
                  <th>{{ 'ranking.user' | translate }}</th>
                  <th style="width: 12rem">{{ 'ranking.bestStreak' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rating>
                <tr [ngClass]="{'current-user': isCurrentUser(rating.userId)}">
                  <td class="text-center">
                    <span class="rank-badge" [ngClass]="getRankClass(rating.rank)">{{ rating.rank }}</span>
                  </td>
                  <td>
                    <div class="user-info">
                      <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color': isCurrentUser(rating.userId) ? 'var(--primary-color)' : '#ccc'}" 
                        shape="circle"
                      ></p-avatar>
                      <span class="ms-2">{{ rating.username }}</span>
                    </div>
                  </td>
                  <td>
                    <span class="value-badge streak-badge">{{ rating.value }} {{ 'ranking.days' | translate }}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center p-4">
                    <div class="empty-message">
                      <p>{{ 'ranking.noData' | translate }}</p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </p-tabPanel>
        
        <p-tabPanel [header]="'ranking.habitCompletionRankingTab' | translate">
          <p-card styleClass="ranking-card">
            <div class="mb-3">
              <div class="p-inputgroup">
                <span class="me-1 p-inputgroup-addon">
                  <i class="pi pi-search"></i>
                </span>
                <input
                  type="text" 
                  pInputText 
                  [placeholder]="'ranking.searchUser' | translate" 
                  [(ngModel)]="habitCompletionSearchQuery"
                  (input)="filterHabitCompletionRatings()"
                />
                <button 
                  type="button" 
                  pButton 
                  icon="pi pi-times" 
                  (click)="habitCompletionSearchQuery = ''; filterHabitCompletionRatings()" 
                  *ngIf="habitCompletionSearchQuery"
                ></button>
              </div>
            </div>
            
            <div *ngIf="loading.habitCompletions" class="loading-container">
              <p-progressBar mode="indeterminate" [style]="{'height': '6px', 'width': '50%'}"></p-progressBar>
              <p class="text-center mt-2">{{ 'ranking.loading' | translate }}</p>
            </div>
            
            <p-table 
              [value]="filteredHabitCompletionRatings" 
              [tableStyle]="{'min-width': '50rem'}"
              styleClass="p-datatable-sm p-datatable-striped"
              [paginator]="filteredHabitCompletionRatings.length > 10" 
              [rows]="10" 
              [showCurrentPageReport]="true"
              [currentPageReportTemplate]="'ranking.pageReport' | translate"
              *ngIf="!loading.habitCompletions"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 5rem" class="text-center">{{ 'ranking.rank' | translate }}</th>
                  <th>{{ 'ranking.user' | translate }}</th>
                  <th style="width: 12rem">{{ 'ranking.completedHabits' | translate }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rating>
                <tr [ngClass]="{'current-user': isCurrentUser(rating.userId)}">
                  <td class="text-center">
                    <span class="rank-badge" [ngClass]="getRankClass(rating.rank)">{{ rating.rank }}</span>
                  </td>
                  <td>
                    <div class="user-info">
                      <p-avatar 
                        icon="pi pi-user" 
                        [style]="{'background-color': isCurrentUser(rating.userId) ? 'var(--primary-color)' : '#ccc'}" 
                        shape="circle"
                      ></p-avatar>
                      <span class="ms-2">{{ rating.username }}</span>
                    </div>
                  </td>
                  <td>
                    <span class="value-badge habit-badge">{{ rating.value }}</span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="3" class="text-center p-4">
                    <div class="empty-message">
                      <p>{{ 'ranking.noData' | translate }}</p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
