<p-menubar [model]="menuItems">
  <ng-template #start>
    <span class="fw-bold fs-4 me-4">TrackTopias</span>
  </ng-template>

  <ng-template #item let-item let-root="root">
    <a pRipple class="flex items-center p-menubar-item-link" [routerLink]="item.routerLink">
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  
  <ng-template pTemplate="end">
    <button pButton [label]="getOtherLanguage()" 
            [icon]="'pi pi-globe'" 
            class="p-button-outlined p-button-sm me-2"
            (click)="toggleLanguage()">
    </button>
    <button pButton [label]="'header.logout' | translate"  
            class="p-button-outlined p-button-sm" 
            (click)="onClick()"></button>
  </ng-template>
</p-menubar>
