<p-toast></p-toast>
<p-panel header="Увійти в аккаунт" styleClass="shadow-sm">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-2 p-3">
    <div class="p-float-label mb-3">
      <input id="username" pInputText type="text" formControlName="username" class="w-100" 
             [ngClass]="{'ng-invalid ng-dirty': username?.invalid && (username?.touched || submitted)}" 
             [pTooltip]="getUsernameErrorMessage()" tooltipPosition="right" 
             [showDelay]="100" [hideDelay]="100"
             [tooltipDisabled]="!shouldShowTooltip(username)" />
      <label for="username">Логін (нікнейм)</label>
    </div>
    
    <div class="p-float-label mb-4">
      <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false"
                  [ngClass]="{'ng-invalid ng-dirty': password?.invalid && (password?.touched || submitted)}"
                  [pTooltip]="getPasswordErrorMessage()" tooltipPosition="right"
                  [showDelay]="100" [hideDelay]="100"
                  [tooltipDisabled]="!shouldShowTooltip(password)"></p-password>
      <label for="password">Пароль</label>
    </div>
    
    <button pButton type="submit" label="Увійти" class="p-3 fw-bold mt-3"></button>
    
    <div class="text-center mt-3">
      <span class="text-light">Немає аккаунту? </span>
      <a href="#" class="fw-bold" (click)="onRegisterClick($event)">Зареєструватися</a>
    </div>
  </form>
</p-panel>
